__pycache__/
*.pyc
*.egg-info/
.venv/
venv/
.pytest_cache/
.env
models/
deneme.py
temp_image.jpg
aeroquery.db
deneme_kayit.py
check_db.py
deneme_llm.py
deneme_tool.py
deneme_count.py
deneme_agent.py
deneme_detect_tool.py
deneme_multi.py
chroma_db/
deneme_embed.py
deneme_index.py
deneme_rag.py
deneme_search.py
deneme_3tool.py
deneme_count_reports.py
deneme_video.py
test_video.mp4
deneme_output.py
output.mp4
deneme_webcam.py

